// Margins
$simple-margin: 30px;
$left-margin: 30px;
$right-margin: 30px;
$interline-margin: 0.5em;

// Colors
$bg-color: #F5F5F5;
$bg-color-links: #ddd;
$text-color: #4A4A4A;
$link-hover-color: black;
$title-color: #000000; 

// Fonts
$general-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$general-font-bold: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Breakpoints
$breaskpoint-small: 0;
$breaskpoint-medium: '768px';
$breaskpoint-large: '1200px';
$max-app-width: 840px;

@mixin breakpoint-small() {
  @media only screen and (min-width: $breaskpoint-small) and (max-width: $breaskpoint-medium) {
    @content;
  }
}

@mixin breakpoint-medium() {
  @media only screen and (min-width: $breaskpoint-medium) and (max-width: $breaskpoint-large) {
    @content;
  }
}

@mixin breakpoint-large() {
  @media only screen and (min-width: $breaskpoint-large) {
    @content;
  }
}
