@import '../../styles/variables';

.HeaderComponent {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;

  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;

    h1 {
      white-space: nowrap;
      margin-left: $left-margin;
    }
  }
}

.nav {
  list-style: none;
  text-align: center;
  display: flex;
  padding: 0;
  margin-right: 30px;
  font-size: 22px;
  line-height: 15px;
}

.nav li {
  margin-left: 25px;
}

.nav li a {
  transition: .3s background-color;
  padding: 0 5px;
}
