@import '../../styles/variables';


.ListComponent {

  &-box-list,
  &-box-grid {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  &-box-list {
    flex-direction: column;
    display: block;
  }

  &-box-grid {
    flex-direction: row;
    margin-right: $simple-margin;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  &-list,
  &-grid {
    background-color: white;
    margin-top: $simple-margin;
    margin-left: $simple-margin;
    padding: $simple-margin;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &-grid {
    width: 375px;
  }

  &-list {
    margin-right: $simple-margin;
  }

  &-list_line_wrapper {
    margin-top: $interline-margin;
    margin-bottom: 0;
    cursor: pointer;
  }

  &-line-attached {
    margin-top: 5px;
  }

  &-pagination {
    margin-top: 15px;
    text-align: center;
  }

  &-pagination-previous {
    margin-right: 1em;
  }

  &-pagination-page {
    margin: 0 5px;
    font-weight: bold;
  },

  &-pagination-current {
    margin: 0 5px;
  },

  &-pagination-next {
    margin-left: 1em;
  },

  &-info-remark {
    margin-top: 3em;
  }

  &-info-remark-num {
    padding: 0 2em 0 0;
    span {
      font-size: 2em;
      font-weight: 400;
    }
  },

  h2 {
    margin-bottom: $interline-margin;
    font-weight: normal;
  }
}
