@import '../../styles/variables';

.UsersNavComponent {
  display: flex;
  font-size: 14px;

  div {
    margin-top: 20px;
    
    .nav {
      list-style: none;
      padding: 0;
      margin-right: 30px;

      * {
        margin-right: 8px;
        float: left;
      }

      li {
        margin-left: 30px;
        span {
          font-weight: normal;
        }
      }

      a {
        transition: .3s background-color;
        padding: 0 5px;
      }

      span {
        font-weight: bold;
      }
    }
  }

  $multiRangeHeight: 2em;

  input[type="range"][multiple] {
    display: block;
    height: $multiRangeHeight;
    margin: 0;
    pointer-events: none;
    float: none;
    width: 100px;

    & + input[type="range"][multiple] {
      margin-top: $multiRangeHeight * -1;
    }
  }

  @mixin multirange-thumb {
    pointer-events: all;
  }
  input[type="range"]::-webkit-slider-thumb {
    @include multirange-thumb;
  }
  input[type="range"]::-moz-range-thumb {
    @include multirange-thumb;
  }
  input[type="range"]::-ms-thumb {
    @include multirange-thumb;
  }

  input[type="text"] {
    width: 50px;
    text-align: center;
  }
}
