@import './styles/variables';

html {
  font-family: $general-font; 
  font-size: 100%;

  @include breakpoint-large {
    font-size: 120%;
  }
}

body {
  margin: 0;
  background-color: $bg-color;
  color: $text-color;
  font-weight: normal;
  font-size: 16px;
  color: $text-color;
  line-height: 19px;
}

h1 {
  font-family: $general-font-bold;
  font-weight: normal;
  font-size: 35px;
  margin: 0;
  color: $title-color;
  line-height: 43px;
}

h2 {
  font-family: $general-font-bold;
  font-weight: normal;
  font-size: 22px;
  margin: 0;
  color: $title-color;
  line-height: 25px;
}

a {
  font-family: $general-font;
  color: $text-color;
  text-decoration: none;
  cursor: auto;
}

a:hover {
  background-color: $bg-color-links;
  color: $link-hover-color;
}

a:active {
  color: $link-hover-color;
}
