@import '../styles/variables';

.DashboardPage {
  max-width: $max-app-width;
  margin: 0 auto;

  &-box {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: block;
    background-color: white;
    margin-top: $simple-margin;
    margin-left: $simple-margin;
    padding: $simple-margin;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &-card {
    margin-right: $simple-margin;
  }
}
